In [1]:
import re

txt = "The rain in spain"
x = re.findall("A",txt)
print(x)

[]

In [8]:
import re

txt = "The rain in spain"
x = re.search("rain",txt)
if x:
    print("hello")
else:
    print("hi")

hello

In [14]:
import re

txt = "The rain in spain"
x = re.split(r"\s",txt)
print(x)

['The', 'rain', 'in', 'spain']

In [17]:
import re

txt = "The rain in spain"
x = re.sub("there","the",txt)
print(x)

The rain in spain

In [20]:
import re 

id = "MCAL16001"

pattern = r'^[A-Z]{4}[0-9]{2}[0-9]{3}$'

if re.match(pattern,id):
    print("valid")
else:
    print("not valid")

valid

In [37]:
import re
email = 'so.lai@gmail.com'
pattern = r'[a-zA-Z._]+@[a-zA-Z]+\.[a-z]{2}'
if re.match(pattern,email):
    print("TRUE")

TRUE

In [47]:
import re 
phone = '123456789'
pattern = r'^1[0-9]{8}$'
if re.match(pattern,phone):
    print("true")

true

In [56]:
import re 
aadhar = '1234 2345 4567'
pattern = r'[1-9]{4} [1-9]{4} [1-9]{4}'
if re.match(pattern,aadhar):
    print("true")
else:
    print("False")

true

In [59]:
import re 
ip = '045.250.157'
pattern = r'[0-255]{1}+\.[0-255]{1}+\.[0-255]{1}'
if re.match(pattern,aadhar):
    print("true")
else:
    print("False")

False

In [60]:
r = [2,3,4,5]
m = list(map(lambda r:3.14*r**2,r))
print(m)

[12.56, 28.26, 50.24, 78.5]

In [66]:
l = ['apple','hello']
u = list(map(lambda l:l.upper(),l))
print(u)

['APPLE', 'HELLO']

In [68]:
l = [30,33,28,24]
m = list(map(lambda l:(l*9/5) + 32,l))
print(m)

[86.0, 91.4, 82.4, 75.2]

In [69]:
l = ['python','map','function']
m = list(map(lambda l:len(l),l))
print(m)

[6, 3, 8]

In [71]:
l = [1,2,3,4,5]
m = list(map(lambda l :'even' if l%2==0 else 'odd',l))
print(m)

['odd', 'even', 'odd', 'even', 'odd']

In [72]:
city = ["","chennai","","goa","banglore"]
m = list(filter(lambda city: len(city)>3,city))
print(m)

['chennai', 'banglore']

In [73]:
l = ['apple','banana','cherry','date','kiwi']
m = list(filter(lambda l: 'a' in l,l))
print(m)

['apple', 'banana', 'date']

In [75]:
print('24'.isnumeric()

True

In [88]:
l = ['ap23','banana34','cherry567','date455','kiwi68']
m = list(map(lambda l: [ i for i in l if i%2==0 ] ,l))
print(m)

SyntaxError: Generator expression must be parenthesized (573489669.py, line 2)

In [87]:

l = ['ap23','banana34','cherry567','date455','kiwi68']
for i in l:
    count = ""
    for j in i:
        if j.isnumeric():
            count +=j
    print(count)

23
34
567
455
68

In [94]:
from functools import reduce

# Summing numbers with reduce and lambda
a = [1, 2, 3, 4, 5]
res = reduce(lambda x,y: x + y, a)

print(res)

15

In [98]:
name = '3'
print(f"hello:{name}")

hello:3

In [102]:
import math

print(math.pow(2,3))
print(math.sin(30))
print(math.factorial(5))
print(math.degrees(40))
print(math.pi)

8.0
-0.9880316240928618
120
2291.831180523293
3.141592653589793

In [105]:
from datetime import datetime
from datetime import timedelta
now = datetime.now()
print(now)

2024-12-30 13:48:56.870944

In [108]:
import os

a = os.getcwd()
print(os.listdir())
print(a)

['day1.ipynb', 'day2.ipynb', 'day3.ipynb']
c:\python

In [113]:
import random
random.random()

0.6418383266579627

In [117]:
import random
random.randint(1,20)

19

In [118]:
import random
random.randrange(0,100,10)

20

In [119]:
import random
random.choice('hello')

'o'

In [128]:
import random
import string

pas = random.choices(string.ascii_letters, k=4)  + random.choices(string.digits,k=2)+random.choices(string.punctuation,k=2)
random.shuffle(pas)
print("".join(pas))

xd?Zb36!

In [132]:
from testa.test1 import add
print(add(5,5))

10

In [135]:
import statistics

l = [1, 2, 3, 4, 5] 
print(statistics.mean(l))

3

In [134]:
import statistics

l = [1, 2, 3, 4, 5] 
print(statistics.median(l))

3

In [136]:
import statistics

l = [1, 2, 3, 4, 5] 
print(statistics.mode(l))

1

In [137]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     --------------------------------- ------ 51.2/60.8 kB ? eta -:--:--
     -------------------------------------- 60.8/60.8 kB 648.8 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\solaipavithran.s\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\solaipavithran.s\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.4/11.5 MB 8.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/11.5 MB 13.8 MB/s eta 0:00:01
   --------- ------------------------------ 2.8/11.5 MB 19.8 MB/s eta 0:00:01
   --------------- ------------------------ 4.4/11.5 MB 21.4 MB/s eta 0:00:01
   --------------------- ------------------ 6.1/11.5 MB 24.4 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 27.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 29.5 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 36.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 21.8 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   -------- ------------------------------- 2.6/12.6 MB 57.0 MB/s eta 0:00:01
   -------------- ------------------------- 4.6/12.6 MB 49.1 MB/s eta 0:00:01
   ------------------- -------------------- 6.0/12.6 MB 47.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.7/12.6 MB 41.3 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.6 MB 41.3 MB/s eta 0:00:01
   ------------------------------------- -- 11.7/12.6 MB 38.6 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 38.5 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 38.5 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 38.5 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 38.5 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 22.5 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ---------------------------------------  501.8/508.0 kB ? eta -:--:--
   ---------------------------------------  501.8/508.0 kB ? eta -:--:--
   ---------------------------------------  501.8/508.0 kB ? eta -:--:--
   ---------------------------------------  501.8/508.0 kB ? eta -:--:--
   ---------------------------------------- 508.0/508.0 kB 2.3 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   -------------------------------------- - 337.9/346.6 kB ? eta -:--:--
   -------------------------------------- - 337.9/346.6 kB ? eta -:--:--
   ---------------------------------------- 346.6/346.6 kB 3.6 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [138]:
pip install json

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement json (from versions: none)
ERROR: No matching distribution found for json

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [141]:
l = [ i for i in range(1,1001) if i%7==0]
print(l)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [160]:
l = [ i for i in range(1,1001) if '3' in str(i)]
print(l)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [144]:
l = [ i for i in range(1,1001) if i%10==3]
print(l)

2

In [150]:
s = 'solai pavithran hello'
l = sum([ 1 for i in s if i == " "])
print(l)

2

In [152]:
s = "yello yaks like yelling and yawning and yesturday they while  eating yuky yams"
l = [i for i in s if i not in "aeiou "]
print(l)

['y', 'l', 'l', 'y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [158]:
s = ['hi',4,8.99,'apple',('t','b','n')]
l = [(i,s[i]) for i in range(len(s))]
print(l)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [156]:
k = []
for i in range(len(s)):
    k.append((i,s[i]))
print(k)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [159]:
l1 = [1,3,5,6,7]
l2 = [1,3,7,8,9]
l = [i  for i in l1 if i in l2]
print(l)

[1, 3, 7]

In [164]:
s = "in 1984 there were 13 instances of a protest with over 1000 pepple attending"

l = [i for i in s.split(" ") if i.isnumeric()]
print(l)

['1984', '13', '1000']

In [ ]:
l = ['true' for i in  if i.isnumeri]
print(l)

In [168]:
data = {'name':'alice','city':'new york'}

l = {k.upper():v for k,v in data.items() }
print(l)

{'NAME': 'alice', 'CITY': 'new york'}

In [169]:
data = {'a':1,'b':2,'c':3,'d':4}

l = {i:j for i,j in data.items() if j%2==0}
print(l)

{'b': 2, 'd': 4}

In [171]:
data = {'a':1,'b':2,'c':3}

l = {j:i for i,j in data.items()}
print(l)

{1: 'a', 2: 'b', 3: 'c'}

In [174]:
c = {'munbai':36.5,'delhi':27.6,'chennai':33}
l = {i:j*9/5+32 for i,j in c.items()}
print(l)

{'munbai': 97.7, 'delhi': 81.68, 'chennai': 91.4}

In [180]:
dic1 = {'a':2,'b':3,'c':4}
dic2 = {'a':5,'b':6,'c':7}
l = {i:j*dic2[i] for i,j in dic1.items()}
print(l)

{'a': 10, 'b': 18, 'c': 28}