##database connect using python

In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   -- ------------------------------------- 0.9/16.1 MB 27.7 MB/s eta 0:00:01
   -------- ------------------------------- 3.2/16.1 MB 41.2 MB/s eta 0:00:01
   ---------------- ----------------------- 6.6/16.1 MB 47.1 MB/s eta 0:00:01
   ----------------------- ---------------- 9.4/16.1 MB 50.1 MB/s eta 0:00:01
   ----------------------------- ---------- 12.0/16.1 MB 54.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.0/16.1 MB 54.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 54.4 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 25.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import mysql.connector

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root@39'
)

mycursor = mydb.cursor()

mycursor.execute('CREATE DATABASE shop_owner')

In [10]:
mycursor.execute('SHOW DATABASES')

In [11]:
for i in mycursor:
    print(i)

('assignment1',)
('classicmodels',)
('information_schema',)
('mphasis',)
('mysql',)
('performance_schema',)
('raviram',)
('shop',)
('shop_owner',)
('supermarket',)
('sys',)

In [12]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root@39',
    database = 'shop_owner'
)

mycursor = mydb.cursor()
mycursor.execute('CREATE TABLE customers (name varchar(225),address varchar(255))')

print('table created')

table created

In [14]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id  int AUTO_INCREMENT PRIMARY KEY")

In [15]:
sql = 'INSERT INTO customers(name,address) VALUES (%s,%s)'
val = ('john','highway 21')
mycursor.execute(sql,val)

mydb.commit()
print(mycursor.rowcount,'record inserted')

1 record inserted

In [16]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("peter", "low street 3"),
    ("amy", "high avenue 7"),
    ("john", "oak road 10"),
    ("sarah", "pine street 15"),
    ("michael", "maple lane 22"),
    ("jessica", "elm drive 5"),
    ("david", "cedar court 9"),
    ("emma", "birch boulevard 18"),
    ("daniel", "willow way 13"),
    ("linda", "spruce street 12")
]

mycursor.executemany(sql,val)

mydb.commit()

print(mycursor.rowcount,'inserted')

10 inserted

In [20]:
mycursor.execute("SELECT * from customers")
myresult = mycursor.fetchall()
print(myresult)
for i in myresult:
    print(i)

[('john', 'highway 21', 1), ('peter', 'low street 3', 2), ('amy', 'high avenue 7', 3), ('john', 'oak road 10', 4), ('sarah', 'pine street 15', 5), ('michael', 'maple lane 22', 6), ('jessica', 'elm drive 5', 7), ('david', 'cedar court 9', 8), ('emma', 'birch boulevard 18', 9), ('daniel', 'willow way 13', 10), ('linda', 'spruce street 12', 11)]
('john', 'highway 21', 1)
('peter', 'low street 3', 2)
('amy', 'high avenue 7', 3)
('john', 'oak road 10', 4)
('sarah', 'pine street 15', 5)
('michael', 'maple lane 22', 6)
('jessica', 'elm drive 5', 7)
('david', 'cedar court 9', 8)
('emma', 'birch boulevard 18', 9)
('daniel', 'willow way 13', 10)
('linda', 'spruce street 12', 11)

In [22]:
mycursor.execute("SELECT * from customers where address = 'highway 21'")
myresult = mycursor.fetchall()

for i in myresult:
    print(i)

('john', 'highway 21', 1)

In [25]:
mycursor.execute("DELETE  from customers where address = 'highway 21'")
myresult = mycursor.fetchall()
print(myresult)

[]

In [30]:
mycursor.execute("SELECT * from customers")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

('peter', 'low street 3', 2)
('amy', 'high avenue 7', 3)
('john', 'oak road 10', 4)
('sarah', 'pine street 15', 5)
('michael', 'maple lane 22', 6)
('jessica', 'elm drive 5', 7)
('david', 'cedar court 9', 8)
('emma', 'birch boulevard 18', 9)
('daniel', 'willow way 13', 10)
('linda', 'spruce street 12', 11)

In [31]:
mycursor.execute("UPDATE customers set address = 'highway 21' WHERE address = 'low street 3' ")
myresult = mycursor.fetchall()
print(myresult)

[]

In [32]:
mycursor.execute("SELECT * from customers")
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

('peter', 'highway 21', 2)
('amy', 'high avenue 7', 3)
('john', 'oak road 10', 4)
('sarah', 'pine street 15', 5)
('michael', 'maple lane 22', 6)
('jessica', 'elm drive 5', 7)
('david', 'cedar court 9', 8)
('emma', 'birch boulevard 18', 9)
('daniel', 'willow way 13', 10)
('linda', 'spruce street 12', 11)

In [47]:
import mysql.connector

class Mydatabase:
    def __init__(self):
        self.mydb = mysql.connector.connect(
                    host = 'localhost',
                    user = 'root',
                    password = 'root@39',
                    database = 'shop_owner'
                )
        self.mycursor = mydb.cursor()
    def insert(self,val):
        sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
        if len(val) > 1:
            self.mycursor.executemany(sql,val)
        else:
            mycursor.execute(sql,val)
        self.mydb.commit()
        
    def delete(self,add):
        self.mycursor.execute(f"DELETE  from customers where address = '{add}'")
    def update(self,upd):
        self.mycursor.execute(f"UPDATE customers set address = 'highway 21' WHERE address = {upd} ")
        
    def display(self,tab):
        self.mycursor.execute(f"SELECT * from {tab}")
        self.myresult = self.mycursor.fetchall()
        for i in self.myresult:
            print(i)
obj = Mydatabase()
#obj.display('customers')
obj.delete('pine street 15')
#obj.display('customers')
#obj.insert([("peter", "low street 3"),("michael", "maple lane 22")])
obj.display('customers')

#obj.display()

('jessica', 'elm drive 5', 7)
('david', 'cedar court 9', 8)
('emma', 'birch boulevard 18', 9)
('daniel', 'willow way 13', 10)
('linda', 'spruce street 12', 11)
('peter', 'low street 3', 12)
('michael', 'maple lane 22', 13)

In [49]:
import mysql.connector

class Mydatabase:
    def __init__(self):
        self.mydb = mysql.connector.connect(
                    host = 'localhost',
                    user = 'root',
                    password = 'root@39',
                    database = 'shop_owner'
                )
        self.mycursor = mydb.cursor()
    def display(self,tab):
        self.mycursor.execute(f"SELECT * from {tab}")
        self.myresult = self.mycursor.fetchall()
        for i in self.myresult:
            print(i)
obj = Mydatabase()
obj.display('products')

DatabaseError: 1412 (HY000): Table definition has changed, please retry transaction

In [50]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   -------------------------- ------------ 624.6/926.7 kB 19.2 MB/s eta 0:00:01
   --------------------------------------  921.6/926.7 kB 19.4 MB/s eta 0:00:01
   ---------------------------------------- 926.7/926.7 kB 7.3 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   --------------------------------------  307.2/313.6 kB 18.6 MB/s eta 0:00:01
   --------------------------------------  307.2/313.6 kB 18.6 MB/s eta 0:00:01
   --------------------------------------  307.2/313.6 kB 18.6 MB/s eta 0:00:01
   ---------------------------------------- 313.6/313.6 kB 1.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from bson import SON
 
client = MongoClient('localhost', 27017)
 
db = client.newdb
 
people = db.people
 
people.insert_one({'name': 'john','age':20})
people.insert_one({'name': 'lisa','age':21})
people.insert_one({'name': 'mia','age':22})

In [53]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80,[20, 40, 60, 80]]

print(listOne == listTwo)
print(listOne is listTwo)

False
False

In [55]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

In [61]:
print(type(0xfffff))

<class 'int'>

In [63]:
x = 100
y = 50
print(x or y)

100

In [65]:
print('%d %d %.2f' % (11, '22', 11.22))

TypeError: %d format: a real number is required, not str

In [66]:
dic = {1:4,2:6}
for i in dic:
    print(i)

1
2

In [68]:
for num in range(10, 14):
   for i in range(2, num):
       if num%i == 1:
          print(num)
          break

10
11
12
13